* {
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 20px);
    margin: 50px;
    gap: 20px;
    overflow: hidden;
}

.left {
    width: 25%;
    padding: 10px;
}

.right {
    flex: 1;
    column-count: 2;
    column-gap: 20px;
    padding: 10px;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
        gap: 10px;
    }

    .left {
        width: 100%;
        margin: 5px;
    }

    .right {
        width: 100%;
        column-count: 1;
        margin: 5px;
    }
}

