@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap');

html {
    height: 100%;
    overflow: hidden;
    font-size: 16px;
    font-family: 'Noto Sans SC', sans-serif;
    /* 全局字体大小基准 */
}

body {
    background-image: url(https://api.blockhaity.qzz.io/images);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
}

.search-box {
    width: 800px;
    height: 30px;
    padding: 10px 15px;
    margin: 50px auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.7);
    border: 2px solid #0066cc;
    border-radius: 500px;
    color: white;
    font-size: 14px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    backdrop-filter: blur(5px);
}

.search-box:hover {
    box-shadow: 0 5px 20px rgba(0, 102, 204, 0.3);
}

.search-box .bing-icon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    margin-left: 5px;
    margin-right: 5px;
    background: url('https://www.bing.com/sa/simg/favicon-2x.ico') no-repeat center;
    background-size: contain;
}

.search-box input {
    width: 100%;
    height: 100%;
    color: var(--text-color);
    color: white;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    border-radius: 25px;
    padding: 0 15px;
}

@media (max-width: 1200px) {
    .search-box {
        width: 600px;
    }
}

@media (max-width: 768px) {

    .search-box {
        width: 90%;
        top: 30px;
    }
}
